html {
    font-size: 16px;
}

body {
    margin: 1vw;
    color: #7FE560;
    background: #474798;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}

a {
    color: #7FE560;
    text-decoration: none;
    font-style: italic;
}

h1 {
    margin: 2vw;
    font-size: 8vw;
}

h2 {
    margin: 2vw;
    font-size: 40vw;
    line-height: 40vw;
}

p {
    margin: 1vw;
    font-size: 5vw;
    padding: 1vw;
}

#week-days {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2vw;
}

#week-days .today {
    background: #00000024;
    border-radius: 5px;
}

#week-days span {
    font-weight: bold;
}

footer {
    margin: 7vw 3vw;
    text-align: center;
}

    footer small {
        display: block;
        font-size: 2vw;
        margin-bottom: 0.2vw;
    }

@media (min-width: 576px) {
    h1 {
        margin: 1vw;
        font-size: 5vw;
    }

    h2 {
        font-size: 25vw;
        line-height: 25vw;
    }

    p {
        font-size: 2vw;
        margin: 0;
    }

    #week-days {
        flex-direction: row;
    }

    footer small {
        font-size: 1vw;
        margin-bottom: 0.3vw;
    }
}
