html {
    font-size: 16px;
}

body {
    margin: 1vw;
    color: #7FE560;
    background: #474798;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}

a {
    color: #7FE560;
    text-decoration: none;
    font-style: italic;
}

h1 {
    margin: 3vw;
    font-size: 7vw;
}

h2 {
    margin: 1vw;
    font-size: 30vw;
    line-height: 30vw;
}

p {
    font-size: 2vw;
    margin: 0.5vw;
}

.days {
    margin: 3vw;
}

#week-days {
    display: flex;
    justify-content: space-around;
}

footer {
    margin: 5vw auto;
    text-align: center;
}

footer small {
    display: block;
    font-size: 1vw;
    margin-bottom: 0.3vw;
}