body {
  margin: 3%;
  background-color: #474798;
  /* background-color: yellow; */
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
}
h1,h2,h3 {
  color: #b122b1;
  text-align: center;
}
h2 {
  margin: 0;
  font-size: 20em;
}
.weekcal {
  display: inline-block;
  min-width: 111px;
  border: 1px solid;
}
.header,
.data {
  display: block;
  border: 1px solid;
}
